POSTGRES_PASSWORD_MASTER=
POSTGRES_PASSWORD_SLAVE=
POSTGRESQL_DATA_DIR=/bitnami/postgresql/data
POSTGRESQL_REPLICATION_USER=
POSTGRESQL_REPLICATION_PASSWORD=
POSTGRESQL_DATABASE=tg_bot
PG_DATA_MASTER_DIR=
PG_DATA_SLAVE_DIR=
PG_CONF_MASTER_DIR=
PG_CONF_SLAVE_DIR=